{% extends "mainApps/wrapper.html" %}

{% block content %}

    <form action="" method="get">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Search">
    </form>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Content</th>
                <th>Priority</th>
                <th>Date of execution</th>
                <th>Executor</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
        {% for task in tasks %}
            <tr>
                <td>{{task.name}}</td>
                <td>{{task.content}}</td>
                {% if task.priority == 3 %}
                    <td>low</td>
                {% endif %}
                {% if task.priority == 2 %}
                    <td>medium</td>
                {% endif %}
                {% if task.priority == 1 %}
                <td>high</td>
                {% endif %}
                <td>{{task.date}}</td>
                <td>{{task.executor}}</td>
                <td>{{task.status}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
