{% extends "mainApps/wrapper.html" %}

{% block content %}
    {% for task in object_list %}
    <form class="form-inline">
        <div class="form-group">
            <p>
               {% if task.priority == 1 %}
                 <div class="dropdown">
                    <button class="dropbtnr">{{task.name}}</button>
                    <div class="dropdown-content">
                        <a>{{task.content}}</a>
                        <a>{{task.date}}</a>
                        <a>{{task.executor}}</a>
                    </div>
                 </div>
                 <!--<a class="btn btn-danger btn-lg"> {{task.name}} </a> -->
                 <a class="btn btn-danger btn-lg"> Выполнено </a>
                 <a class="btn btn-danger btn-lg"> Редактирование </a>
                 <a class="btn btn-danger btn-lg"> Удаление </a>
               {% endif %}
               {% if task.priority == 2 %}
                 <div class="dropdown">
                    <button class="dropbtny">{{task.name}}</button>
                    <div class="dropdown-content">
                        <a>{{task.content}}</a>
                        <a>{{task.date}}</a>
                        <a>{{task.executor}}</a>
                    </div>
                 </div>
                 <!--<a href="/new/{{task.id}}" class="btn btn-warning btn-lg"> {{task.name}} </a> -->
                 <a class="btn btn-warning btn-lg"> Выполнено </a>
                 <a class="btn btn-warning btn-lg"> Редактирование </a>
                 <a class="btn btn-warning btn-lg"> Удаление </a>
               {% endif %}
               {% if task.priority == 3 %}
                 <div class="dropdown">
                    <button class="dropbtng">{{task.name}}</button>
                    <div class="dropdown-content">
                        <a>{{task.content}}</a>
                        <a>{{task.date}}</a>
                        <a>{{task.executor}}</a>
                    </div>
                 </div>
                 <!--<a href="/new/{{task.id}}" class="btn btn-success btn-lg"> {{task.name}} </a> -->
                 <a class="btn btn-success btn-lg"> Выполнено </a>
                 <a class="btn btn-success btn-lg"> Редактирование </a>
                 <a class="btn btn-success btn-lg"> Удаление </a>
               {% endif %}
            </p>
        </div>
    </form>
        <!-- <h5>{{task.date|date:"d-m-Y"}}</h5> -->
    {% endfor %}
{% endblock %}