{% extends "mainApps/wrapper.html" %}

{% block content %}

<form>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" checked name="Radio" id="STRadio">
    <label class="form-check-label" for="STRadio">Simple Task</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="Radio" id="CTRadio">
    <label class="form-check-label" for="CTRadio">Combo Task</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="Radio" id="GTRadio">
    <label class="form-check-label" for="GTRadio">Group Task</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="Radio" id="RRadio">
    <label class="form-check-label" for="RRadio">Reminder</label>
  </div>

  <div class="form-group" id="INT">
    <label for="InputName" id="InputNameT">Name of the task</label>
    <input type="name" class="form-control" id="InputName" aria-describedby="nameHelp" placeholder="Example: MyFirstTask">
  </div>
  <div class="form-group" id="IGT">
    <label for="InputGoal" id="InputGoalT">Goal of the task</label>
    <input type="goal" class="form-control" id="InputGoal" placeholder="Example: To write first task right now!">
  </div>
  <div class="form-group" id="ICT">
    <label for="InputCondition" id="InputConditionT">Condition of the task</label>
    <input type="condition" class="form-control" id="InputCondition" placeholder="Example: To write first task right now!">
  </div>
  <div class="form-group" id="CFT">
    <label for="CheckFrequency" id="CheckFrequencyT">Frequency of remaining</label>
    <select class="form-control" id="CheckFrequency">
      <option>Every Day</option>
      <option>Every Mounth</option>
      <option>Every Year</option>
    </select>
  </div>
  <div class="form-group" id="CTT">
    <label for="CheckType" id="CheckTypeT">Type of executing of the task</label>
    <select class="form-control" id="CheckType">
      <option>Consistently</option>
      <option>Parallel</option>
    </select>
  </div>
  <div class="form-group" id="CPT">
    <label for="CheckPriority" id="CheckPriorityT">Priority of the task</label>
    <select class="form-control" id="CheckPriority">
      <option>high</option>
      <option>medium</option>
      <option>low</option>
    </select>
  </div>
  <div class="form-group" id="IDT">
    <label for="InputDate" id="InputDateT">Date of execution the task</label>
    <input type="date" class="form-control" id="InputDate" placeholder="Example: 2018-05-05">
    <!--  <small class="form-text text-muted">YYYY-MM-DD</small>  -->
  </div>
  <div class="form-group" id="IFT">
    <label for="InputFinish" id="InputFinishT">Date, when reminder will finish</label>
    <input type="finish" class="form-control" id="InputFinish" placeholder="Example: 2018-05-05">
    <!--  <small class="form-text text-muted">YYYY-MM-DD</small>  -->
  </div>
  <button type="submit" class="btn btn-primary" id="BST">Save</button>

  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script type="text/javascript">
    $(function () {
        $("#IGT").hide();
        $("#CFT").hide();
        $("#CTT").hide();
        $("#IFT").hide();
        $("input[name='Radio']").click(function () {
            if ($("#STRadio").is(":checked")) {
                $("#INT").show();
                $("#IGT").hide();
                $("#ICT").show();
                $("#CFT").hide();
                $("#CTT").hide();
                $("#CPT").show();
                $("#IDT").show();
                $("#IFT").hide();
                $("#BST").show();
            }
            if ($("#CTRadio").is(":checked")) {
                $("#INT").show();
                $("#IGT").show();
                $("#ICT").hide();
                $("#CFT").hide();
                $("#CTT").show();
                $("#CPT").hide();
                $("#IDT").hide();
                $("#IFT").hide();
                $("#BST").hide();
            }
            if ($("#GTRadio").is(":checked")) {
                $("#INT").show();
                $("#IGT").show();
                $("#ICT").hide();
                $("#CFT").hide();
                $("#CTT").hide();
                $("#CPT").show();
                $("#IDT").hide();
                $("#IFT").hide();
                $("#BST").hide();
            }
            if ($("#RRadio").is(":checked")) {
                $("#INT").show();
                $("#IGT").show();
                $("#ICT").hide();
                $("#CFT").show();
                $("#CTT").hide();
                $("#CPT").hide();
                $("#IDT").show();
                $("#IFT").show();
                $("#BST").hide();
            }
        });
    });
  </script>

</form>

{% endblock %}