<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>JobTracker</title>
  <!--{% load staticfiles %} -->
  <!--<link rel="stylesheet" href="{% static '/home/picasso/Django_JobTracker/mainApp/static/css/bootstrap.min.css' %}" type="text/css"> -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" type="text/css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" type="text/css">
    <style>
.dropbtnr {
    font-size: 28px;
    border: none;
    cursor: pointer;
    color: black;
    border-color:#d9534f;
    background-color:#cc0000;
    padding: 3px;
    border-radius: 5px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.dropbtny {
    font-size: 28px;
    border: none;
    cursor: pointer;
    color: black;
    border-color:#d9534f;
    background-color:#ff9900;
    padding: 3px;
    border-radius: 5px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.dropbtng {
    font-size: 28px;
    border: none;
    cursor: pointer;
    color: black;
    border-color:#d9534f;
    background-color:#00cc00;
    padding: 3px;
    border-radius: 5px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #d9534f;
}
</style>
</head>

<body>
    <div class="container">
      <p>&nbsp;</p>
      <h1>JobTracker</h1>
      <p>
        <a href="/" class="btn btn-success btn-lg" name="mainbutton"> Главная страница </a>
        <a href="/DJ" class="btn btn-primary btn-lg" name="tasksbutton"> Задачи &raquo; </a>
        <a href="/new_task" class="btn btn-info btn-lg" name="newbutton"> Новое &raquo; </a>
      </p>
      {% block content %}
      {% endblock %}
        <!-- <img src="{% static 'mainApp/image.png' %}" class="img-thumbnail"> -->
        <!--<hr> -->
        <!--&copy; Все права защищены 2018 -->
    </div>
</body>
</html>